@font-face {
    font-family: "fs1";
    src: url("../font/DMSans-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    /* height: 3000px; */
    /* width: 1550px; */
}

body {
    height: 3000px;
    /* width: 1550px; */
    width: 100%;
    /* background-color: whitesmoke; */
}

nav ul li {
    /* margin: 20px; */

}

nav {
    /* position: fixed; */
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    /* justify-content: space-around; */
    flex-wrap: nowrap;
    background-color: #434344;
    color: #DADADA;
    width: 100%;
    position: fixed;
    /* width: 1550px; */
    z-index: 1;
    




    /* display: inline-block; */


}

nav ul li {
    padding-left: 30px;
}

/* .d{
    color: #DADADA;
} */

li a svg path {
    fill: #DADADA;
}

.image1 {
    height: 650px;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    background-image: url('../images&victors/hero_ase2023__fajyx7tk70a6_large.jpg');
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    /* Ensure the background image covers the entire container */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    text-align: center;
}

img {
    /* width: 100%; */
    
}

h1{
    font-weight: medium;
}

.position1 {
position: relative;
top: 90px;
    /* left: 650px; */
    /* height: 20px; */
font-size: 25px;
width : cover;
height: 0px;
/* font-family: Arial, Helvetica, sans-serif; */
font-family: "fs1";
font-weight: 10px;
/* line-height: 40px; */



}

.shop {
    color: #0066CC;
    background-color: none;
    text-decoration: none;
    /* font-size: large; */
}

.shop1{
    color: #0066CC;
    background-color: none;
    text-decoration: none;
    /* font-size: large; */
    font-size: 14px;
}



.shop:hover {
    border-bottom: 1px solid #0066CC;

}

.shoparrow {
    font-size: small;
    color: #0066CC;
}

.shoparrow1{
    font-size: small;
    color: #0066CC;
    font-size: 12px;
}

.gap{
    padding-left: 10px;
}

.image2{
    height: 650px;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    background-image: url('../images&victors/hero_iphone15pro__i70z9oz3hj2i_large.jpg');
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    /* Ensure the background image covers the entire container */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    text-align: center;
}

.position2 {
    position: relative;
    top: 60px;
    /* left: 650px; */
    /* height: 20px; */
    font-size: 25px;
    width: cover;
    height: 0px;
    font-family: Helvetica;
    color: #DADADA;
    line-height: 200%;

}

.space{
    padding-left: 20px;
}

.image3 {
    height: 450px;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* background-image: url('../images&victors/hero_ase2023__fajyx7tk70a6_large.jpg'); */
    /* Replace 'your-image.jpg' with the path to your image */
    /* background-size: cover; */
    /* Ensure the background image covers the entire container */
    /* background-position: center; */
    /* Center the background image */
    /* background-repeat: no-repeat; */
    text-align: center;
}

.vid{
    width: 100%;
    /* height: 100%; */
}

.position3{
    position: relative;
    bottom: 300px;
        /* left: 650px; */
        /* height: 20px; */
    font-size: 25px;
    width : cover;
    height: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10px;
    color: #DADADA;
    /* line-height: 40px; */
}

.button1{
    width: 100px;
    height: 30px;
    font-size: small;
    border-radius: 50px;
    border-color: aliceblue;
    border: none;
    border: 0;
    position: relative;
    top: 20px;

}

.iphonelogo{
    position: relative;
    left: 15px;
    top: 0px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.iphonelogo1{
    position: relative;
    left: 15px;
    top: 0px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.s9{
    position: relative;
    left: 20px;
}

.low{
    position: relative;
    top: 10px;
}

.maindiv{

    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 450px;
    margin-left: 20px;


}

.divchild{
    border: 2px solid black;
    /* height: 300px; */
    /* width: 500px; */
    width: 45%; /* Set the width of each div */
    /* margin: 1%/; /*Add margin for spacing between div 
      /* background-color: #f0f0f0; Set a background color */
    padding: 10px;
    padding-left: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
    text-align: center;
    /* height: 500px; */
    box-sizing: border-box;
    height: 500px;
    border: none;
    box-shadow: 1px 1px 5px rgb(209, 198, 198);
    
}

.a{
    background-image: url("../images&victors/promo_mbp__ek7p477bkp6q_large.jpg");
    /* background-size: c; */
    background-position: center;
    background-repeat: no-repeat;
    /* width: ; */
    /* height: 500px; */
}

.b{
    background-image: url("../images&victors/2.jpg");
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
    /* width: ; */
    /* height: 500px; */
}

.c{
    background-image: url("../images&victors/3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: ; */
    /* height: 200px; */
    position: relative;
    bottom: 450px;
}

.d{
    background-image: url("../images&victors/4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: ; */
    /* height: 200px; */
    position: relative;
    bottom: 450px;
}

.e{
    background-image: url("../images&victors/5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: ; */
    /* height: 200px; */
    position: relative;
    bottom: 900px;
}

.f{
    background-image: url("../images&victors/6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: ; */
    /* height: 200px; */
    position: relative;
    bottom: 900px;
}

.position4{
    /* position: relative; */
    /* bottom: 300px; */
        /* left: 650px; */
        /* height: 20px; */
    font-size: 25px;
    width : cover;
    height: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10px;
    color: black;
    /* line-height: 40px; */
}

.ultra{
    color:  rgb(255, 150, 63);
    padding-left: 40px;
}

.slider{
    position: relative;
    bottom: 900px;
}

.slidediv{
    position: relative;
    bottom: 120px;
    left: 40px;
}

.slidebutton{
    height: 50px;
    width: 170px;
    font-size: 20px;
    background-color: white;
    color: #434344;
    border: #DADADA;
    border-radius: 30px;
    text-align: center;


}

.size{
    font-size: 15px;
}

.para{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 1000px;
    height: 1200px;
    position: relative;
    bottom: 900px;
    /* border: 2px solid blue; */
    border-bottom: 1px solid black;
    
}

.p1{
    text-align: start;
    color: #5a5a5a;

}

.footermain{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 870px;
    /* border-bottom: 1px solid black; */
}

.footerdiv li{
    list-style: none;
}

.footerheader{
    color: #4a4a4b;
}

.secondlast{
    text-align: center;
    position: relative;
    bottom: 860px;
    right: 160px;
    font-size: 15px;

}

.lastmaindiv{
    display: flex;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 860px;
    border-top: 1px solid black;
    width: 1000px;
    padding-top: 10px;
    margin: auto;
}

.lastmaindiv2{
    display: inline-block;
    flex-direction: row;
    padding-right: 80px;
    
}

.lastmaindiv2 li{
    list-style: none;
    display: inline-block
} 

.bor{
    border-right: 1px solid black;
    padding-right: 10px;
    padding-left: 5px;
}

.site{
    padding-left: 5px;
}


@media only screen and (max-width: 480px){

    .p, .o, .i, .t, .position1 h1 , .low, .s9{
        display: none;
    }
    nav ul{
        width: 100%;
    }

    .position3 h2 , .button1{
        position: relative;
        top:  180px;
        /* font-size: 10px; */

    }


.slidebutton{
    font-size: 10px;
    width: 70px;
    height: 30px;
}

.divchild{
    width: 200px;
    height: 300px;
    display: inline-block

}
}





@media only screen and (max-width: 768px){

    .p, .o, .y {
        display: none;
    }

    .lastmaindiv1{
        position: relative;
        right: 300px;
    }

    .footerdiv, .secondlast, .lastmaindiv1{
        font-size: 10px;
    }

    .position3{
        font-size: 20px;
    }

    .position3 h2 , .button1, .low, .s9{
        position: relative;
        top:  100px;


}
.slidebutton{
    font-size: 10px;
    width: 100px;
    height: 50px;
}

.position4 h2, h6{
    font-size: 20px;
}
.position4 p{
    font-size: 10px;
}
.position4 a{
    font-size: 10px;
}

.iphonelogo, .iphonelogo1{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 6px;
}

}

@media only screen and (max-width: 1024px){

    nav ul{
        /* width: 1000px; */

    }

    .p, .r{
        display: none;
    }
    .lastmaindiv3, .lastmaindiv2{
        display: none;

    }

    .secondlast, .u, {
        display: none !important; 
    }

    .position1{
        font-size: 15px;
    }

    .para{
        width: 500px;
        height: 600px;

    }

    .p1{
        font-size: 10px;
    }







    
}









/* .footer{ */
    /* height: 350px; */
    /* background-color: #9c4646; */
    /* background-color: rgba(165, 44, 44, 0.84); */
    /* background-color: rgba(186, 42, 42, 0.647); */


    /* position: relative;
    top: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    /* align-items: center; */
    /* flex-flow: row wrap; */
    /* justify-content: space-evenly; */

/* } */

/* .footer1{ */
    

/* } */ 

/* h2{
    text-align: center;
    border-bottom: 5px solid black;
} */

/* .footer1 li{
    list-style: none;
    text-align: start;
    padding: 5px;
    border-bottom: 2px solid black;
    

} */


/* try for the slider but was not working through css */



/* * {box-sizing:border-box} */

/* Slideshow container */
/* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  } */
  
  /* Hide the images by default */
  /* .mySlides { */
    /* display: none; */
  /* } */
  
  /* Next & previous buttons */
  /* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  } */
  
  /* Position the "next button" to the right */
  /* .next { */
    /* right: 0;
    border-radius: 3px 0 0 3px;
  } */
  
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */
  
  /* Caption text */
  /* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  } */
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* The dots/bullets/indicators */
  /* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } */
  
  /* .active, .dot:hover {
    background-color: #717171;
  } */
  
  /* Fading animation */
  /* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  } */
  
  /* @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */



  /* .carousel-container {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 0 auto;
  
  }
  
  .navigation-buttons .previous {
    position: relative;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
  }
  
  .navigation-buttons .next {
    right: 10px;
    position: relative;
    font-size: 25px;
    z-index: 10;
    top: 40%;
  }
  
  .navigation-buttons .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  
  .navigation .nav-btn:hover {
    background: white;
  }
  
  .slider-carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
  
  }
  .slider-carousel img {
    width: 100%;
    transition: all 0.3s ease;
    border:8px solid white;
  }
  
  .images {
    position: relative;
    display: none;
  }
  
  .main {
    display: block;
  }
  
  .image-text {
    position: relative;
    bottom: 0;
    width: 103%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
  } */






